/* Add basic headers, div and body styling */
h2 {
    font-size: 50px;
    font-family: 'Schoolbell', cursive;
    text-align:center;
    color: coral;
}

h3 {
    font-size: 100px;
    font-family: 'Schoolbell', cursive;
    text-align:center;
}

.btncenter {
  text-align: center;
}

.button {
    font-family: 'Schoolbell', cursive;
    padding: 20px;
    color:coral;
    background-color: white;
    margin:  2.5px;
    border-radius: 10px;
}

.button:hover {
    background-color: coral;
    color:white;
}
